{% extends "bboard/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted">Товар добавлен: {{ object.published }}</small>
            {% if user.is_authenticated %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'ad-update' object.id %}">Изменить</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'ad-delete' object.id %}">Удалить</a>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2 class="article-title">{{ object.name }}</h2>
                <p> Длина: {{ object.length }} см</p>
                <p> Цена: {{ object.price }} грн</p>
                <p> Категория: {{ object.rubric }} </p>
            </div>
            <div>
                <img class="media" src="{{ object.image.url }}">
            </div>
        </div>
    </div>
</article>
{% endblock content %}
