{% extends "bboard/base.html" %}

{% block content %}
    <h1>Пара слов об AnnyMall!</h1>
    <p>Почему выбирают AnnyMall?
Я Куриленко Ирина, основатель бренда <a href="https://www.instagram.com/anny.mall/">@anny.mall</a>, мама 4-летней дочери и я знаю все о детских размерах, качестве вещей и удобстве для ваших деток.Я закончила курсы стиля и я помогу подобрать одежду по цвету, актуального фасона и, самое главное, функциональную (на разные случаи жизни) Я выбираю только эксклюзивные вещи, в которых
не будет ходить весь город, это точно!

Я не по наслышке знаю как быстро растут дети, и как жалко, что купленная недавно одежда уже маленькая. По этому создала детскую комиссионку, где помогаю купить и продать вещи ваших деток.</p>
{% endblock content %}
