{% extends "bboard/base.html" %}

{% block content %}
    {% for ad in ads %}
    <article class="media content-section">
		<div class="media-body">
    		<div class="article-metadata">
		        <!-- <a class="mr-2" href="#">{{ ad.name }}</a> -->
		        <small class="text-muted">Товар добавлен: {{ ad.published }}</small>
		    </div>
		    <div class="row">
		    <div class="col-md-8">
		    	<h2><a class="article-title" href="#">{{ ad.name }}</a></h2>
		        <p> Длина: {{ ad.length }} см</p>
		        <p> Цена: {{ ad.price }} грн</p>
		        <p> Категория: {{ ad.rubric }} </p>
		    </div>
	        <div class="col-md-4">
	        	<img class="media" width="200px" height="150px" src="{{ ad.image.url }}">
	        </div>
	    	</div>
	    </div>
	</article>
    {% endfor %}
{% endblock content %}
